/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,300;1,400&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: all .3s ease;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;
}

.flex {
    display: flex;
    &__between {
      justify-content: space-between;
    }
}
