<header class="header">
    <div class="container">
      <div class="header__content flex flex__between">
          <h1 class="header__logo">Logo</h1>

            <ul class="nav flex flex__between">
                <li class="nav__item">
                  <a class="nav__item--link" href="">menu</a>
                </li>
                <li class="nav__item">
                  <a class="nav__item--link" href="">menu</a>
                </li>
                <li class="nav__item">
                  <a class="nav__item--link" href="">menu</a>
                </li>
                <li class="nav__item">
                  <a class="nav__item--link" href="">menu</a>
                </li>
            </ul>
      </div>

    </div>
</header>
