.header {
    position: fixed;
    width: 100%;
    background-color: gold;
    box-shadow: 0px 2px 9px 1px rgb(0 0 0 / 50%);

    &__logo{
      color:chocolate;
    }

    &__content {
        align-items: center;
        padding: 20px 0;
    }

    .nav {
        width: 100%;
        max-width: 300px;

        &__item{
          &--link {
            color:red;
            &:hover {
                color: blue;
                }
            }
        }
    }
}
